<html>
	<head>
		<title>Startseite</title>  
		<link rel="stylesheet" type="text/css" href="/template/css/style2.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">
				 Userverwaltung
			</div> 

			<div class="nav">
			<a href="foren">Forum</a>
			</div>


			<div class="content">

				<div id="themen">
					<p>Login</p>
					<form method="post" action="/login" class="form">
						<input type="text" value="username" name="username"</input>
						<input type="text" value="passwort" name="passwort"</input>
						<input type="submit" value="Login"></input>
					</form>
				</div>
				<div id="new">
				<p>Neuer User</p>
					<form method="post" action="/user_neu" class="form">
					<input type="text" value="username" name="username"</input>
					<input type="text" value="passwort" name="passwort"</input>
					<input type="submit" value="Neu"></input>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>