<!DOCTYPE html>
<html>
	<head>
		% for var in content:
		% endfor	
		<title>Diskussion: ${content[var]['titel']}</title>   
		<link rel="stylesheet" type="text/css" href="/template/css/style.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">
				 Beiträge
			</div> 

			<div class="nav">
			<nav>
			<ul>
				<li><a href="/account">User</a></li>
				<li><a href="/index">Themenübersicht</a></li>
				% for var in content:
				% endfor
				<li><a href="http://localhost:8080/themen/${content[var]['thema']}">Thema</a></li>
			</ul>
			</nav>
			</div>
			

			<div class="content">
				% for var in content:
						% endfor
						<h1 class="heading">Beiträge zur Diskussion ${content[var]['titel']}</h1>
				<div id="themen">
					<table>
						
							<tr>
								<th>User</th>
								<th>Erstellungszeit</th>
								<th>Inhalt</th>
								<th>Löschen</th>
						</tr>
							<tr>
							% for var in content:
								<tr id=${var}>
										<td><p>${content[var]['username']}</p></td>
										<td><p>${content[var]['zeit']}</p></td>
										<td><p>${content[var]['inhalt']}</p></td>
										<td>
											<form method="post" action="/beitrag_loeschen" class="form">
												<input type="hidden" value="${content[var]['thema']}" name="thema"></input>
												<input type="hidden" value="${content[var]['titel']}" name="diskussion"></input>
												<input type="hidden" value="${var}" name="beitrag"></input>
												<input type="submit" value="X"></input>
											</form>
										</td>	
								</tr>	
							% endfor
					</table>
				</div>
				
				<div class="new">
				<h2>Neuer Eintrag</h2>
			
				<form method="post" action="/diskussion_neu" class="form">
					<input type="hidden" value="${content[var]['thema']}" name="thema"></input>
					<input type="text" value="Username" name="username"></input>
					<input type="text" value="Passwort" name="passwort"></input>
					<input type="hidden" value="${content[var]['titel']}" name="diskussion"></input>
					<input type="text" value="Inhalt" name="inhalt"></input>
					<input type="submit" value="Neu"></input>
				</form>
				</div>
			</div>
		</div>
	</body>
</html>