<html>
	<head>
		% for var in content:
		% endfor	
		<title>Diskussion: ${content[var]['titel']}</title>   
		<link rel="stylesheet" type="text/css" href="/template/css/style2.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">
				 Beiträge
			</div> 

			<div class="content">

				<div id="themen">
					<table>
						% for var in content:
						% endfor
						<tr><h1 class="heading">Beiträge zur Diskussion ${content[var]['titel']}</h1></tr>
							<tr>
							% for var in content:
								<tr id=${var}>
									<td>
										<td><p>${content[var]['username']}</p></td>
										<td><p>${content[var]['zeit']}</p>s</td>
										<td>
											<form method="post" action="/beitrag_loeschen" class="form">
												<input type="hidden" value="${content[var]['thema']}" name="thema"></input>
												<input type="hidden" value="${content[var]['titel']}" name="diskussion"></input>
												<input type="hidden" value="${var}" name="beitrag"></input>
												<input type="submit" value="X"></input>
											</form>
										</td>
									</td>	
								</tr>
								<tr>									
									<td>
										<td>${content[var]['inhalt']}</td>
									</td>
								</tr>	
							% endfor
					</table>
				</div>
				
				Neuer Eintrag
			
				<form method="post" action="/diskussion_neu" class="form">
					<input type="hidden" value="${content[var]['thema']}" name="thema"></input>
					<input type="text" value="Username" name="username"></input>
					<input type="hidden" value="${content[var]['titel']}" name="diskussion"></input>
					<input type="text" value="Inhalt" name="inhalt"></input>
					<input type="submit" value="Neu"></input>
				</form>
			</div>
		</div>
	</body>
</html>