<!DOCTYPE html>
<html>
	<head>
		<title>Startseite</title>  
		<link rel="stylesheet" type="text/css" href="/template/css/style.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">     Themenübersicht
			</div> 
			
			<div class="nav">
			<nav>
				<ul>
					<li><a href="account">User</a></li>
				</ul>
			</nav>
			</div>
			
			<div class="content">

				<div id="themen">
					
						
						<table>
							<tbody>
							<tr>
								<th>Thema</th>
								<th>Beiträge</th>
								<th>löschen</th>
							</tr>
							% for var in content:	
							<tr id=${var}>
							<td class=><a href="/themen/${content[var]['thema']}">${content[var]['thema']}</a></td>
								<td class="t"> ${content[var]['eintraege']}</td>
								<td class="t">
									<form>
										<input type="button" value="X" onClick="myFunction()">
									</form>
								</td>
							</tr>						
							% endfor
							</tbody>
							</table>

							<script type="text/javascript" language="JavaScript">
								function myFunction() {
									var user = prompt("Bitte geben Sie Benutzernamen ein:", "");
									var passwort = prompt("Bitte geben Sie Passwort ein:", "");
									alert(user + passwort);
									var formString = '<form method="post" action="/themen_loeschen" class="form">';
										formString += '<input type="hidden" value="${content[var]['thema']}" name="thema" />'
										formString += '<input type="hidden" value="'
										formString += user
										formString += '" name="username" />';
										formString += '<input type="hidden" value="'
										formString += passwort
										formString += '" name="passwort" />';
										formString += '</form>';
										alert (formString);
									var formElement = $(formString);
										 $("body").append(formElement);
										 $(formElement).submit();
									} 
							</script>
				
				
				</div>
				<div class="new">
				<h2>Neuer Eintrag</h2>
				
					<form method="post" action="/themen_neu" class="form">
					<input type="text" value="username" name="username"</input>
					<input type="text" value="passwort" name="passwort"</input>
					<input type="text" value="thema" name="thema"</input>
					<input type="submit" value="Neu"></input>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>