<html>
	<head>
		<title>Forum XY</title>  
		<link rel="stylesheet" type="text/css" href="/template/css/style2.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">
				 Themenuebersicht
			</div> 

			<div class="content">

				<div id="themen">
					<table>
						<th>Themen</th>
							<tr>
							<tr></tr>
							% for var in content:
							<tr id=${var}>
								<td>
									<td><a href="/themen/${content[var]}">${content[var]}</a></td>
								</td>
								<td>
									<form method="post" action="/thema_loeschen" class="form">
										<input type="hidden" value="${content[var]}" name="thema"></input>
										<input type="submit" value="X"></input>
									</form>
								</td>
							</tr>
							% endfor			
					</table>
				</div>
				
				Neuer Eintrag
				
					<form method="post" action="/themen_neu" class="form">
					<input type="text" value="" name="thema"</input>
					<input type="submit" value="Neu"></input>
					</form>
			</div>
		</div>
	</body>
</html>