<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8" />
<title>Startseite</title>
<link rel="stylesheet" type="text/css" href="css/style2.css">
</head>


<body>
<div id="main">

<header class="top">
	 Themenübersicht
</header> 

<div class="content">

<div id="themen">
<table>
			<th>Themen</th>
				<tr>
				<tr></tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Katzenbabys sind süß</p>
					</td>
				</tr>
				</tr>
				<!--  % for var in inhalt_alle:
				<tr id=${var}>
								<td>${inhalt_alle[var]['Themen']}</td>
				</tr> 
				
				% endfor -->
</table>
</div>
</div>


</body>


</html>


