<html>
	<head>
		% for var in content:
		% endfor
		<title>Thema: ${content[var]['Thema']}</title>  
		<link rel="stylesheet" type="text/css" href="/template/css/style2.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	</head>

	<body>
		<div id="main">

			<div class="top">
				 Diskussionenübersicht
			</div> 

			<div class="nav">
			<a href="/index">User</a>
			<a href="/foren">Themenübersicht</a>
			</div>
			
			<div class="content">

				<div id="themen">
					<table>
						
						<tbody>
						<tr><h1 class="heading">${content[var]['Thema']}</h1></tr>
							% for var in content:
								<tr id=${var}>	
									<td>
										<td><a href="/beitraege/${content[var]['Thema']}/${content[var]['Diskussion']}">${content[var]['Diskussion']}</a></td>
									</td>	
									
									<td>
										<form method="post" action="/diskussion_loeschen" class="form">
											<input type="hidden" value="${content[var]['Thema']}" name="thema"></input>
											<input type="hidden" value="${content[var]['Diskussion']}" name="diskussion"></input>
											<input type="submit" value="X"></input>
										</form>
									</td>
								</tr>
							
						</tbody>

						% endfor	
					</table>
				
				</div>
				<div class="new">
				Neuer Eintrag
			
				<form method="post" action="/diskussion_neu" class="form">
					<input type="hidden" value="${content[var]['Thema']}" name="thema"></input>
					<input type="text" value="Username" name="username"></input>
					<input type="text" value="Titel" name="diskussion"></input>
					<input type="text" value="Inhalt" name="inhalt"></input>
					<input type="submit" value="Neu"></input>
				</form>
			
				</div>					
			</div>
		</div>
	</body>
</html>